/* HOME */

/*  fontes */
@font-face {
  font-family: 'Tr2n';
  src: url('../../fonts/Tr2n.ttf');
}/* HOME */

@font-face {
  font-family: 'Audiowide';
  src: url('../../fonts/Audiowide-Regular.ttf');
}


/* cor de fundo */
body {
  background: linear-gradient(
    90deg,
    rgb(18, 4, 88) 0%,
    rgb(122, 4, 236) 100%
  );
}

.Home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* titulo */
.Home-header {
  margin: auto;
  font-size: 10vw;
  text-align: center;
  padding-bottom: 0.5em;
}

#pomod, #orc {
  font-family: 'Tr2n';
}

#pomod {
  color: #FE76FE;
  text-shadow:
    0 0 7px #FF00A1,
    0 0 151px #FF00A1;
}

#orc {
  color: #FF00A1;
}

#orc:hover {
  text-shadow:
    0 0 7px #FF00A1,
    0 0 151px #FF00A1;
}

/* botoes */
.buttons {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 64px;
  font-family: 'Audiowide';
}

#init, #about-page {
  background: linear-gradient(
  #FE76FE 0%,
  #FF1250 100%
  );

  font-family: 'Audiowide';

  width: 100%;
  text-decoration: none;
  color: #120459;
  font-size: 4vw;
  transition-duration: 0.25s;
}

#init:hover, #about-page:hover{
  color:#FE76FE;
  text-shadow:
    0 0 7px #ff30ff,
    0 0 10px #FE76FE,
    0 0 21px #FE76FE,
    0 0 42px #FE76FE,
    0 0 82px #FE76FE,
    0 0 92px #FE76FE,
    0 0 102px #FE76FE;
  background: linear-gradient(
    #FE76FE -30%,
    #FF1250 70%
    );
}

/* arredondando as bordas */
#init {
  border-top-left-radius: 250000px;
  border-bottom-left-radius: 250000px;
}

#about-page {
  border-top-right-radius: 250000px;
  border-bottom-right-radius: 250000px;
}

.vl {
  border-left: 1px solid #120459;
  height: 20%;
}